@font-face {
    font-family: 'ChineseRock';
    src: url(chinese\ rocks\ rg.ttf);
}
h1 {
    font-family: 'ChineseRock', sans-serif;
    text-align: center;
    color: red;
}
ul{
text-align: center;
}
li {
  font-family: 'ChineseRock', sans-serif;
  background: transparent;
  padding: 10px 16px;
  text-decoration: none;
  display: inline-block
}
a{
  color: White;
  text-decoration: none;
  text-align: center;
  font-size: 30px;
  display: block;
}
menu a:hover{
  background: red;
  color: white;
}
h2 {
  font-family: 'ChineseRock', sans-serif;
  color: white;
  text-align: center;
}